.svg-icon {
  width: 2em;
  height: 2em;
}
.svg-icon circle,
.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  transition: all 200ms ease-in;
}
.chrome .svg-icon {
  width: 3em;
  height: 3em;
}
.svg-icon circle {
  stroke-width: 1;
}
.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #bababa;
}
.svg-icon circle {
  stroke: #bababa;
}
html,
body {
  height: auto;
  height: 100%;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  line-height: 1.5;
}
body.ready {
  transition: background 400ms ease-in-out;
}
body.dark {
  background: #101010;
  color: #eaeaea;
}
.container {
  display: flex;
  height: 100%;
}
.container h1 {
  margin: auto;
  font-size: 5em;
  line-height: 1.4;
  text-align: center;
  max-width: 80%;
}
.controls {
  position: absolute;
  bottom: 1em;
  right: 1em;
}
.controls a {
  display: inline-block;
  margin-left: 1.5em;
  transition: color 300ms ease-in;
  text-decoration: none;
  color: #bababa;
}
.controls a:hover {
  color: #111;
}
.controls a:hover .svg-icon path,
.controls a:hover .svg-icon polygon,
.controls a:hover .svg-icon rect {
  fill: #111111;
}
.controls a:hover .svg-icon circle {
  stroke: #111111;
}
.controls a.extension span {
  position: relative;
  top: -8px;
}
.chrome .controls a {
  margin: 1em;
}
body.dark .controls a .svg-icon path,
body.dark .controls a .svg-icon polygon,
body.dark .controls a .svg-icon rect {
  fill: #888888;
}
body.dark .controls a .svg-icon circle {
  stroke: #888888;
}
body.dark .controls a:hover .svg-icon path,
body.dark .controls a:hover .svg-icon polygon,
body.dark .controls a:hover .svg-icon rect {
  fill: #eaeaea;
}
body.dark .controls a:hover .svg-icon circle {
  stroke: #eaeaea;
}
.about-modal {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.9);
  transform: translateY(-100%);
}
body.dark .about-modal {
  background: rgba(0, 0, 0, 0.75);
}
.about-modal .inner {
  margin: auto;
  padding: 2em;
  background: #fff;
  border: 1px solid #111;
  color: #111;
  width: 400px;
  opacity: 0;
  transition: opacity 400ms ease-out 60ms;
}
.about-modal .inner p {
  margin-bottom: 0;
}
.about-modal .inner p code {
  border: 1px solid #bebebe;
  border-radius: 2px;
  padding: 4px 4px 2px;
  font-size: 1.4em;
}
.about-modal .inner h2 {
  margin-top: 0;
}
.about-modal .inner a {
  color: #111;
}
.about-modal .inner a:hover {
  color: #666;
}
.about-modal .inner h2 small {
  font-weight: normal;
  font-size: 0.625em;
}
body.show-about .about-modal {
  transform: translateY(0);
}
body.show-about .about-modal .inner {
  opacity: 1;
}
body.show-about .container {
  -webkit-filter: blur(2px);
  filter: blur(1px);
}
@media (max-width: 660px) {
  .about-modal .inner {
    width: 100%;
    font-size: 1.6em;
  }
  .gh-pages .about-modal .inner {
    font-size: 1em;
  }
}
.stendig {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 900;
  width: 520px;
  margin: auto;
  position: relative;
  padding-top: 88px;
  top: -44px;
}
.stendig h2 {
  position: absolute;
  top: 0;
  letter-spacing: -1px;
}
.gh-pages .stendig h2 {
  font-size: 1.1em;
}
.stendig .year {
  left: 288px;
}
.stendig .month {
  left: 360px;
}
.stendig table {
  width: 504px;
  font-size: 56px;
  border-spacing: 0;
}
.stendig table thead {
  vertical-align: top;
}
.stendig table:hover td.today {
  color: #7512ed;
}
.stendig table td {
  width: 72px;
  height: 44px;
  line-height: 40px;
  text-align: left;
  border-left: 1px solid #000;
  vertical-align: top;
  transition: color 300ms ease-in;
  letter-spacing: -5px;
}
.stendig table td.k3 {
  letter-spacing: -3px;
}
.stendig table td.k10 {
  letter-spacing: -10px;
}
.stendig table td.k13 {
  letter-spacing: -13px;
}
body.dark .stendig table td {
  border-color: #fff;
}
body.dark .stendig:hover td.today {
  color: #ed1278;
}
@media (max-width: 660px) {
  .stendig {
    width: 320px;
  }
  .stendig table {
    width: 320px;
    font-size: 35px;
  }
  .stendig table td {
    width: 46px;
    height: 27px;
    letter-spacing: -3px;
  }
  .stendig table td.k10 {
    letter-spacing: -5px;
  }
  .stendig table td.k13 {
    letter-spacing: -8px;
  }
  .stendig .year {
    left: 184px;
  }
  .stendig .month {
    left: 230px;
  }
}

/*# sourceMappingURL=main.css.map */