@import 'icons';

html, body {
  height: auto;
  height: 100%;
}

body {
  font-family: Helvetica, arial, sans;
  margin: 0;
  line-height: 1.5;
}

body.ready {
  transition: background 400ms ease-in-out;
}

body.dark {
  background: #101010;
  color: #eaeaea;
}

.container {
  display: flex;
  height: 100%;
}

@import 'controls';
@import 'about';
@import 'stendig';
